<!DOCTYPE html>
<html lang="en">

<head>
       {{>headerLinks}}

</head>
    
<body>
   {{>navbar}}
    <!-- main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header-right">
                        <figure>
                            <img src="https://i.pinimg.com/474x/0b/f7/13/0bf7130e5008d3bf3e55898c9cc59bb6.jpg" alt="">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome to Naveed's World</p>
                        <h1>I Am A<span class="text-color"> Mern Stack Developer,</span> Youtuber and a Freelancer</h1>
                        <a href="/weather"> <button>About Me</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- footer code -->
   {{>footer}}
</body>

</html>
